.company h1 {
    text-align: center;
}

.vision-container {
    display: grid;
    grid-template-columns: 53% 43%;
    grid-gap: 4%;
    margin-bottom: 50px;
}

.vision-mobile{
    display: none;
}

.mission-container {
    display: grid;
    grid-template-columns: 43% 53%;
    grid-gap: 4%;
}

.vision-mission img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.line {
    width: 40%;
    margin: 0 auto;
    border-top: solid rgb(163, 163, 163);
    padding-bottom: 50px;
}

.team {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 3em;
}

.member-name {
    color: rgb(32, 155, 255);
    margin-top: 20px;
    margin-bottom: 4px;
}

.title {
    margin-top: 0px;
    font-size: 17px;
    font-weight: bold;
}

.member-img-container {
    overflow: hidden;
    border-radius: 50%;
}

.member-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .5s ease;
    border-radius: 50%;
}

.member-img-container img:hover {
    transform: scale(1.2);
}


@media(max-width: 1048px) {

    .team {
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        grid-gap: 2em;
    }

    .title {
        font-size: 14px;
    }

    .vision-container{
        grid-template-columns: 1fr;
    }

    .mission-container{
        grid-template-columns: 1fr;
    }

    .vision-mobile{
        display: block;
    }

    .vision-desktop{
        display: none;
    }

}