.cookiePop {
    background-color: black;
    opacity: 0.95;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    transition: transform 0.5s ease-in-out;
}

.cookieText {
    padding-bottom: 10px;
}

.cookiePop button {
    margin-bottom: 10px;
}


@media(max-width: 1372px) {
    .cookiePop {
        font-size: 14px;
    }
}