.cookie {
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    transition: transform 0.5s ease-in-out;
    z-index: 2;
}

.cookie .text {
    margin: 20px;
}

.cookie button {
    margin-bottom: 20px;
}