body {
    margin: 0;
    padding: 0;
    font-family: 'Arial';
}

a{
    text-decoration: none;
}

html{
    font-size: 18px;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.undecorated-list{
    padding: 0;
    list-style: none;
}

.banner, .banner span {
    height: 800px;
    width: 100%;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blue-button {
    background-color: rgb(34, 127, 214);
    border: none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}

.blue-button:hover {
    cursor: pointer;
    background-color: rgb(121, 190, 255);
}

.text {
    font-size: 1rem;
    letter-spacing: 0.2px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.3rem;
}

.page-section{
    padding-top: 100px;
    padding-bottom: 100px;
}

.grey-section{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(243, 243, 243);
}

@media(max-width: 1600px) {
    .banner, .banner span {
        height: 700px;
    }
}

@media(max-width: 1048px) {

    body,
    html {
        overflow-x: hidden;
    }

    html {
        font-size: 16px;
    }

    .banner, .banner span {
        height: 600px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
    }
}

@media(max-width: 820px) {

    .banner,
    .banner span {
        height: 400px;
    }

}

@media(max-width: 554px) {

    .banner,
    .banner span {
        height: 300px;
    }

}

@media(max-width: 438px) {

    .banner,
    .banner span {
        height: 280px;
    }

}

@media(max-width: 400px) {

    .banner,
    .banner span {
        height: 200px;
    }

}