.investors-container{
    width: 450px;
    margin: 0 auto;
}

.investors form li{
    list-style: none;
    margin-bottom: 20px;
}

.investors input{
    width: calc(100% - 10px);
    height: 30px;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 10px;
}

.download {
    text-align: center;
}

@media(max-width: 620px) {
    .investors-container{
        width: 100%;
    }
}